langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.61
langchain-huggingface==0.2.0
langchain-ibm==0.3.11
langchain-milvus==0.1.10
langchain-openai==0.3.16
langchain-text-splitters==0.3.8
langcodes==3.5.0
langgraph==0.4.3
langgraph-api==0.2.34
langgraph-checkpoint==2.0.25
langgraph-cli==0.2.10
langgraph-prebuilt==0.1.8
langgraph-runtime-inmem==0.2.0
langgraph-sdk==0.1.66
langsmith==0.3.42